name: Build Spring Boot

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Deploy
      uses: akhileshns/heroku-deploy@v3.12.14
      with:
          heroku_api_key: ${{secrets.dev.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.dev.HEROKU_APP_NAME}}
          heroku_email: ${{secrets.dev.HEROKU_EMAIL}}
